<!DOCTYPE html>
<html>
  <head>
    <title>Notenübersicht</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src='/javascripts/script.js'></script>
    <div class='header-container'>
      <%- include('./header'); %>
    </div>
    <div class='content'>
      <div class='nav-tabs col'>
        <a href='/admin' class="adminButton">Admin Oberfläche</a>
      </div>
      <div class='nav-tabs col'>
        <div>
          <h3>Schüler:innen</h3>
          <ul>
            <% students.forEach(function(student) { %>
              <li>
                <a href='/student?id=<%= student.id %>'><%= student.surname %>, <%= student.firstname %></a>
              </li>
            <% }); %>
          </ul>
        </div>
        <div>
          <h3>Lehrer:innen</h3>
          <ul>
            <% teachers.forEach(function(teacher) { %>
              <li>
                <a href='/teacher?id=<%= teacher.id %>'><%= teacher.surname %>, <%= teacher.firstname %></a>
              </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
